name: Build Wheels

on:
  workflow_call:
    inputs:
      project:
        description: 'Name of the project to build'
        default: 'PROJECT_NAME'
        required: true
        type: string
      c_extension:
        description: 'Whether the project has a C extension'
        default: false
        required: true
        type: boolean
      python_version:
        description: 'Python version to use for building'
        required: true
        type: number

jobs:
  python-pure:
    if: inputs.c_extension == false
    uses: ./.github/workflows/_build-python-wheel-pure.yml
    with:
      python_version: ${{ inputs.python_version }}

  python-extension:
    if: inputs.c_extension
    uses: ./.github/workflows/_build-python-wheel-extension.yml
    with:
      project: ${{ inputs.project }}
      python_version: ${{ inputs.python_version }}

# anything else
