name: Build Wheel, Release, Upload

on:
  workflow_call:
    inputs:
      project:
        description: 'Name of the project to build and release'
        default: 'PROJECT_NAME'
        required: true
        type: string
      c_extension:
        description: 'Whether the project has a C extension'
        default: false
        required: true
        type: boolean
      maintainer_github_username:
        description: GitHub username authorized to start GitHub/PyPI release'
        required: true
        type: string

      python_versions:
        description: 'Python versions to use. If not provided (or set to 0), will be detected from pyproject.toml'
        default: 0
        required: false
        type: number
    secrets:
      PYPI_TOKEN:
        required: true
      PAT_TOKEN:
        required: true

jobs:
  check-tag-privilege:
    uses: ./.github/workflows/_check-tag-privilege.yml
    with:
      maintainer_github_username: ${{ inputs.maintainer_github_username }}

  get-python-versions:
    needs: [check-tag-privilege]
    uses: ./.github/workflows/_get-python-version.yml
    with:
      python_versions: ${{ inputs.python_versions }}

  build-wheel:
    needs: [get-python-versions]
    strategy:
      matrix:
        python-version: ${{ fromJson(needs.get-python-versions.outputs.python_versions_json) }}
    uses: ./.github/workflows/_build-wheel.yml
    with:
      project: ${{ inputs.project }}
      c_extension: ${{ inputs.c_extension }}
      python_version: ${{ matrix.python-version }}

  release-github:
    needs: [build-wheel]
    uses: ./.github/workflows/_release-github.yml
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

  release-pypi:
    needs: [ release-github, get-python-versions ]
    uses: ./.github/workflows/_release-pypi.yml
    with:
      python_versions_json: ${{ needs.get-python-versions.outputs.python_versions_json }}
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  docs-release:
    needs: [ release-github, get-python-versions ]
    uses: ./.github/workflows/_release-docs.yml
    with:
      project: ${{ inputs.project }}
      c_extension: ${{ inputs.c_extension }}
      python_versions_json: ${{ needs.get-python-versions.outputs.python_versions_json }}
