name: Build Wheel, Release, Upload

on:
  workflow_call:
    inputs:
      project:
        description: 'Name of the project to build and release'
        default: 'PROJECT_NAME'
        required: true
        type: string
      c_extension:
        description: 'Whether the project has a C extension'
        default: false
        required: true
        type: boolean
      maintainer_github_username:
        description: GitHub username authorized to start GitHub/PyPI release'
        required: true
        type: string
      python-version:
        description: 'Optional Python version to use. If not provided, will be detected from pyproject.toml'
        required: false
        type: string
    secrets:
      PYPI_TOKEN:
        description: 'PyPI token'
        required: true
      PAT_TOKEN:
        description: 'GitHub Personal Access Token'
        required: true

jobs:
  check-tag-privilege:
    uses: ./.github/workflows/_check-tag-privilege.yml
    with:
      maintainer_github_username: ${{ inputs.maintainer_github_username }}

  get-python-version:
    uses: ./.github/workflows/_get-python-version-latest.yml
    with:
      python_version: ${{ inputs.python-version }}

  build-wheel:
    needs: [check-tag-privilege, get-python-version]
    uses: ./.github/workflows/_build-wheel.yml
    with:
      project: ${{ inputs.project }}
      c_extension: ${{ inputs.c_extension }}
      python-version: ${{ needs.get-python-version.outputs.latest-python-version }}

  release-github:
    needs: [build-wheel]
    uses: ./.github/workflows/_release-github.yml
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

  release-pypi:
    needs: [release-github]
    uses: ./.github/workflows/_release-pypi.yml
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  docs-release:
    needs: [release-github]
    uses: ./.github/workflows/_release-docs.yml
    with:
      project: ${{ inputs.project }}
      c_extension: ${{ inputs.c_extension }}
