name: Check the PAT_TOKEN and PYPI_TOKENS are valid

on:
  workflow_call:

jobs:
  validate-pypi-token:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Validate PyPI token
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          echo "Testing whether PYPI_TOKEN is valid"
          echo "If this fails, set or renew the PYPI_TOKEN in the org/repository"
          echo "Please see scikit-package docs for more info"
          python -m pip install --upgrade twine
          twine upload \
            --repository-url https://upload.pypi.org/legacy/ \
            --skip-existing \
            --non-interactive \
            /dev/null
