name: Validate PyPI Token

on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
        required: true

jobs:
  validate-pypi-token:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install twine
        run: python -m pip install --upgrade twine setuptools wheel

      - name: Create dummy package
        run: |
          mkdir dummy_pkg
          echo "from setuptools import setup; setup(name='dummy', version='0.0.1')" > dummy_pkg/setup.py
          python -m build dummy_pkg --wheel

      - name: Validate PyPI token
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          echo "Testing whether PYPI_TOKEN is valid"
          echo "If this fails, set or renew the PYPI_TOKEN in the org/repository"
          echo "Please see scikit-package docs for more info"
          twine upload --repository-url https://upload.pypi.org/legacy/ \
            --skip-existing \
            --non-interactive \
            dist/*
