name: Validate PYPI Token

on:
  workflow_call:
    secrets:
      PYPI_TOKEN:
        required: true

jobs:
  validate-pypi-token:
    runs-on: ubuntu-latest
    steps:
      - name: Check PyPI token via API
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          echo "Testing whether PYPI_TOKEN is valid"
          USER="__token__"
          PASS="$PYPI_TOKEN"
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" -u "$USER:$PASS" https://upload.pypi.org/legacy/)
          if [ "$STATUS" -eq 200 ] || [ "$STATUS" -eq 201 ]; then
            echo "PYPI_TOKEN is valid."
          else
            echo "PYPI_TOKEN is invalid or expired."
            echo "Please set or renew the PYPI_TOKEN in the org/repository."
            echo "See scikit-package docs for more info"
            exit 1
          fi
